* {
    box-sizing: border-box;
}

h2 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 0;
}

h1 {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 15px;
    text-align: left;
    margin-left: 21px;
}

p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 20px;
}

label {
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 200;
    display: block;
    width: 150px;
    float: left;
    margin-left: 20px;
}

input[type=text], select, textarea {
    font-family: gsans-serif, sans-serif;;
    font-size: 15px;
    font-weight: 100;
    width: 85%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-left: 20px;
    resize: vertical;
}

input[type=submit] {
    background-color: #66B8FF;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
    margin-left: 20px;
}

input[type=submit]:hover {
    background-color: #33A0FF;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
}

.column {
    float: left;
    width: 100%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}