body {
  background-color: #ffffff;
  color: #DA6464;
  text-align: center;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template: 5% 30% 10% 30% 20% 5% / repeat(6, 1fr);
  grid-gap: 20px;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 7;
  background-color: #ffffff;
  color: #aaaaaa;
  width: 100%;
  padding-top: 10px;
  text-align: left; 
  position: fixed;
  z-index: 5;
  margin-top: -20px;
}

ul {  
  padding: 0 20px;
  text-align: center;
  float: left;
}

header ul li {
  font-size: 12px; 
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 80px;
}

li {
  color: #db6363; 
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  display: block;
  width: 80px;
}

.banner {  
  grid-row: 2 / 3;  
  grid-column-start: 1;
  grid-column-end: 7;
  background: url("../img/main-banner.jpg") center center no-repeat; 
  background-size: 100% 100%;
  min-height: 300px;
  position: relative;
}


.btn-main {
  position: relative;
  background-color: #333;
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-top: 30px;

}

.about {
  grid-row: 3 / 4;
  grid-column-start: 1;
  grid-column-end: 7;
  background-color: #f0f0f0;
  padding-bottom: 20px;
}

.text {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
  color: #2f2e2d;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
}

.medical {
    height: 300px;
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px; 
    grid-row: 4 / 5;
}

.medical a {
    float: center;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px; 
}

.medical.mint {
  background: url("../img/mint.jpg") center center no-repeat; 
  background-size: 100% 100%;
  grid-column: 1 / span 3; 
  
}


.medical.cilantro {
  background: url("../img/cilantro.jpg") center center no-repeat; 
  
  background-size: 100% 100%; 
  grid-column: 4 / span 3;
  
}


.vegetable {
    height: 200px;
 background-color: #EED2D2;
/*  color: #ffffff;  
  font-family: sans-serif; */
  font-size: 20px;
  font-weight: 500;
/*  letter-spacing: 0.5px;
  text-align: center;   */
  padding-top: 20px;
  padding-bottom: 20px; 
  grid-row: 5 / 6;
}

.beet {
  background: url("../img/beetleaves.jpg") center center no-repeat; 
  background-size: 100% 100%; 
  grid-column: 1 / span 2;
}

.spinach {
  background: url("../img/spinach.png") center center no-repeat; 
  background-size: 100% 100%; 
  grid-column: 3 / span 2;
}

.radish {
  background: url("../img/radish.jpg") center center no-repeat; 
  background-size: 100% 100%; 
  grid-column: 5 / span 2;
}

.box { 
  width: 100px;
  height: 100px;
}


footer {
  background-color: #ffffff;
/*  color: #db6363; */
  margion-top: -20px;
  margin-bottom: -30px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row: 6 / 7;
}


@media(max-width: 600px){

  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 5% 30% 10% repeat(2, 10%) repeat(3, 10%) 5%;
    grid-row-gap: 20px;
  }

  header {
    margin-bottom: -20px;
  }

  .banner {
    font-size: 20px;
    font-weight: 300;
    line-height: 2.75;
    letter-spacing: 1.9px;
/*    margin-bottom: -20px; */
    margin-top: 50px;
    background-size: cover;
    grid-row: 1 / span 2; 
    grid-column: 1 / span 1;
  }

  .about {
  /*  margin-bottom: -20px; */
    grid-row:  3/ span 1;
    grid-column: 1 / span 1;
  }

  .text {
    width: 75%;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 10px;
    font-weight: 500;
  }

  .medical {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
  }

  .mint {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
  }

  .cilantro {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
  }

  .vegetable {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.3px;
  }

  .beet {
    grid-row: 6/ span 1;
    grid-column: 1 / span 1;
  }

  .spinach {
    grid-row: 7/ span 1;
    grid-column: 1 / span 1;
  }

  .radish {
    grid-row: 8/ span 1;
    grid-column: 1 / span 1;
  }

  .box {
    width: 37.6px;
    height: 37.5px;
  }

  footer {
    margin-top: -20px;
    grid-column: 1 / span 1;
    
  }

}
